<h1>Hello this is the index of books</h1>

<a href="/books/newbook"><button>Add New book</button></a>
<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
  </tr>
  {{#each rows}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.bookName}}</td>
    </tr>
  {{/each}}
</table>